body {
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	background-color: black;
}

#logo{
	display: flex;
	justify-content: center;
}

#menu{
	height: 130px;
}

#first-row{
	display: flex;
	justify-content: center;
	/*width: 50%;*/
	margin-left: 20px;
	margin-right: 20px;

}

#classic-queen-picture{
	width: 800px;
}